<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.hamonize.contract.service.mapper.ContractMapper">

<select id="getList" parameterType="com.hamonize.contract.service.ContractVO" resultType="com.hamonize.contract.service.ContractVO">
select
e.seq
    ,e.business_code
    ,e.contract
    ,e.contract_period_fr
    ,e.contract_period_to
    ,e.contract_amount
    ,e.contract_date
    ,e.demand_name
    ,e.demand_addr
    ,e.demand_bizno
    ,e.demand_cxfc
    ,e.supply_name
    ,e.supply_addr
    ,e.supply_bizno
    ,e.supply_cxfc
    ,e.product_section
    ,e.price
    ,e.sale_qy
    ,e.offer_date
    ,e.contract_cnd
    ,e.special_contract
    ,e.writer_id
    ,e.writer_name
    ,e.consent
    ,e.consent_date
    ,e.delete_at
    ,e.register_date
    ,e.update_date
    ,e.request
    ,f.filerealname
    ,(select subject from tb_saleplan where business_code = e.business_code)as subject
    ,(select seq from tb_saleplan where business_code = e.business_code)as pseq
 from tb_contract e , tb_file f
where delete_at = 0
and bizcd = #{bizcd}
and e.seq = f.seq
and f.section='contract'
order by register_date desc
limit #{firstRecordIndex}, #{recordCountPerPage}
</select>

<select id="getListCount" parameterType="com.hamonize.contract.service.ContractVO" resultType="java.lang.Integer">
select count(*) from tb_contract
where delete_at = 0
and bizcd = #{bizcd}
</select>

<select id="selectSEQ" resultType="java.lang.Integer">
		select nvl(max(seq), 0) +1 as seq
            from
              tb_contract ALIAS_FOR_SUBQUERY
</select>
<select id="getCompany" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
		select *
            from
              tb_company
              where bizcd = #{bizcd}
</select>

<insert id="save" parameterType="com.hamonize.contract.service.ContractVO">
insert
  into
    tb_contract(
       seq
    ,business_code
    ,bizcd
    ,contract
    ,contract_period
    ,contract_amount
    ,contract_date
    ,demand_name
    ,demand_addr
    ,demand_bizno
    ,demand_cxfc
    ,supply_name
    ,supply_addr
    ,supply_bizno
    ,supply_cxfc
    ,product_section
    ,product_name
    ,price
    ,sale_qy
    ,offer_date
    ,contract_cnd
    ,special_contract
    ,writer_id
    ,writer_name
    ,register_date
    ,delete_at
    ,consent
    ,request
    )
  values
    (  #{seq}
      ,#{business_code}
      ,#{bizcd}
      ,#{contract}
      ,#{contract_period}
      ,#{contract_amount}
      ,#{contract_date}
      ,#{demand_name}
      ,#{demand_addr}
      ,#{demand_bizno}
      ,#{demand_cxfc}
      ,#{supply_name}
      ,#{supply_addr}
      ,#{supply_bizno}
      ,#{supply_cxfc}
      ,#{product_section}
      ,#{product_name}
      ,#{price}
      ,#{sale_qy}
      ,#{offer_date}
      ,#{contract_cnd}
      ,#{special_contract}
      ,#{writer_id}
      ,#{writer_name}
      ,now()
      	,0
      	,0
      	,0
    )
</insert>

<update id="update" parameterType="com.hamonize.contract.service.ContractVO">
update tb_contract 
set
contract = #{contract}
,contract_period = #{contract_period}
,contract_amount = #{contract_amount}
,contract_date = #{contract_date}
,demand_addr = #{demand_addr}
,demand_bizno = #{demand_bizno}
,demand_cxfc = #{demand_cxfc}
,offer_date = #{offer_date}
,contract_cnd = #{contract_cnd}
,special_contract = #{special_contract}
,update_date = now() 
where seq=#{seq}
</update>

<select id="getView" parameterType="com.hamonize.contract.service.ContractVO" resultType="com.hamonize.contract.service.ContractVO">
select * from tb_contract
where seq = #{seq}
</select>

<update id="delete" parameterType="com.hamonize.contract.service.ContractVO">
update tb_contract
set 
delete_at = 1
where seq = #{seq}
</update>

<update id="updateReqeust" parameterType="com.hamonize.contract.service.ContractVO">
update tb_contract
set 
request = #{request}
where seq=#{seq}
</update>

<select id="getbusiness_code_cnt" parameterType="com.hamonize.cmmn.CmmnMap" resultType="integer">
select count(*) from tb_contract
where business_code = #{businessCode}
and delete_at = 0
</select>

</mapper>
