<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.hamonize.file.service.mapper.FileMapper">


	
	<!-- <select id="saveFile" parameterType="HashMap" resultType="Integer">
	select * from tb_cmmn_code 
	<where>
		code_id = #{codeId}
	</where>
	
	</select> -->
	
	<insert id="saveFile" parameterType="java.util.HashMap">
	<selectKey resultType="int" keyProperty="file_seq" order="BEFORE">
		select nvl(max(file_seq),0)+1 as file_seq from tb_file
		where
		    section = #{section}
			 and seq = #{seq}
		</selectKey>
        INSERT INTO tb_file
        (
        	SEQ, FILE_SEQ, SECTION, FILEREALNAME, FILEMAKENAME, FILEPATH , FILESIZE , REGISTER_DATE
        )
        VALUES
        (
        	  #{seq}
        	, #{file_seq}
        	, #{section}
        	, #{filerealname}
        	, #{filemakename}
        	, #{filepath}
        	, #{filesize}
        	, now()
        )
    </insert>
    
    <update id="updateFile" parameterType="java.util.HashMap">
        UPDATE tb_file
        set
        FILEREALNAME = #{filerealname},
        FILEMAKENAME = #{filemakename},
        FILEPATH = #{filepath},
        FILESIZE = #{filesize},
        REGISTER_DATE = now()
        where
		    section = #{section}
			 and seq = #{seq}
    </update>
    
    <select id="viewFile" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
    select * from tb_file
    where seq = #{seq}
    and section = #{section}
    </select>

</mapper>
