<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.hamonize.inquiry.service.mapper.InquiryMapper">

<!-- 질문 내용 가져오기  -->
<select id="getList" parameterType="com.hamonize.inquiry.service.InquiryVO" resultType="com.hamonize.inquiry.service.InquiryVO">

select TA.*, TC.demand_name, TC.supply_name 
	from
	 tb_tchnlgy_inqry TA left outer join  tb_license_biz TB 
	 on  TA.bizcd = TB.bizcd and TA.license_cd = TB.license_cd
	 left outer join tb_contract TC
	 on TC.business_code = TA.license_cd
    where 
    	TC.supply_name = #{supply_name}         

	order by reg_date desc
	limit #{firstRecordIndex}, #{recordCountPerPage}
</select>

<select id="getListCount" parameterType="com.hamonize.inquiry.service.InquiryVO" resultType="java.lang.Integer">
<!-- select count(*) from tb_tchnlgy_inqry
 -->
 
select count(*) 
from 
	 tb_tchnlgy_inqry TA left outer join  tb_license_biz TB 
	 on  TA.bizcd = TB.bizcd and TA.license_cd = TB.license_cd
	 left outer join tb_contract TC
	 on TC.business_code = TA.license_cd
    where 
    	TC.supply_name =  #{supply_name};         
    	
 </select>

<select id="selectSEQ" resultType="java.lang.Integer">
		select nvl(max(seq), 0) +1 as seq
            from
              tb_tchnlgy_inqry ALIAS_FOR_SUBQUERY
</select>



<!-- 질문 처리 상태값 변경하기 -->

<!-- 코멘트 작성하기 -->	
<insert id="save" parameterType="com.hamonize.inquiry.service.InquiryVO">
<selectKey keyProperty="seq" resultType="Integer" order="BEFORE">
    SELECT nvl(max(seq),0)+1 FROM tb_tchnlgy_inqry_answer
  </selectKey>
insert
  into
    tb_tchnlgy_inqry_answer(
       seq
      ,inquiry_seq
      ,title
      ,comments
      ,proc_stat
      ,assignee
      ,reg_date
      ,updt_date
    )
  values
    ( #{seq},
      #{inquiry_seq},
      #{title},
      #{comments},
      #{proc_stat},
      #{assignee},
      now(),
      now()
    )
</insert>


<select id="getView" parameterType="com.hamonize.inquiry.service.InquiryVO" resultType="com.hamonize.inquiry.service.InquiryVO">
select TA.*, TC.demand_name, TC.supply_name 
	from
	 tb_tchnlgy_inqry TA left outer join  tb_license_biz TB 
	 on  TA.bizcd = TB.bizcd and TA.license_cd = TB.license_cd
	 left outer join tb_contract TC
	 on TC.business_code = TA.license_cd
where TA.seq = #{seq}	
</select>

<!-- 질문에 대한 코멘트 불러오기  -->
<select id="getCommmentList" parameterType="com.hamonize.inquiry.service.InquiryVO" resultType="com.hamonize.inquiry.service.InquiryVO">
select * 
	from
	 tb_tchnlgy_inqry_answer 
	where inquiry_seq = #{inquiry_seq}	

</select>


<update id="updateProcStat" parameterType="com.hamonize.inquiry.service.InquiryVO">
update 
	tb_tchnlgy_inqry 
set
	proc_stat = #{proc_stat}
where
	seq=#{inquiry_seq}
</update>



<update id="updateComents" parameterType="com.hamonize.inquiry.service.InquiryVO">
update 
	tb_tchnlgy_inqry_answer 
set
	title = #{title},
   comments = #{comments},
   proc_stat = #{proc_stat},
   assignee = #{assignee},
   updt_date = now()
where
	inquiry_seq = #{inquiry_seq}
</update>



<delete id="deleteComments" parameterType="com.hamonize.inquiry.service.InquiryVO">
		delete from
			tb_tchnlgy_inqry_answer
		where
			inquiry_seq = #{inquiry_seq}	
</delete>


<!-- 배정항 담당자 리스트 불러오기 -->
<select id="getAssigneeList" parameterType="com.hamonize.inquiry.service.AssigneeVO" resultType="com.hamonize.inquiry.service.AssigneeVO">
SELECT b.user_nm, a.biznm
FROM tb_company a left outer join tb_user_mngr b on a.bizcd = b.bizcd 
WHERE b.bizcd ='inv1232003' 
</select>

</mapper>
