<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com">

<select id="contractgetList" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
select
seq
    ,business_code
    ,contract
    ,contract_period_fr
    ,contract_period_to
    ,contract_amount
    ,contract_date
    ,demand_name
    ,demand_addr
    ,demand_bizno
    ,demand_cxfc
    ,supply_name
    ,supply_addr
    ,supply_bizno
    ,supply_cxfc
    ,product_section
    ,price
    ,sale_qy
    ,offer_date
    ,contract_cnd
    ,special_contract
    ,writer_id
    ,writer_name
    ,case WHEN consent = 1 THEN '승인'
 else '미승인' END as consent
    ,consent_date
    ,delete_at
    ,register_date
    ,update_date
    ,request
 from tb_contract e
where delete_at = 0
and bizcd = #{bizcd}
order by register_date desc
limit 5
</select>

<select id="contractgetListCount" parameterType="com.hamonize.cmmn.CmmnMap" resultType="java.lang.Integer">
select count(*) from tb_contract
where delete_at = 0
and bizcd = #{bizcd}
</select>



<select id="deliverygetList" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
select
seq
    ,business_code
    ,contract
    ,contract_period_fr
    ,contract_period_to
    ,contract_amount
    ,contract_date
    ,demand_name
    ,demand_addr
    ,demand_bizno
    ,demand_cxfc
    ,supply_name
    ,supply_addr
    ,supply_bizno
    ,supply_cxfc
    ,product_section
    ,price
    ,sale_qy
    ,offer_date
    ,contract_cnd
    ,special_contract
    ,writer_id
    ,writer_name
    ,case WHEN consent = 1 THEN '승인'
 else '미승인' END as consent
    ,consent_date
    ,delete_at
    ,register_date
    ,update_date
    ,request
    ,product_name
 from tb_contract e
where delete_at = 0
and consent = 1
and request = 1
and bizcd = #{bizcd}
order by register_date desc
limit 5
</select>

<select id="deliverygetListCount" parameterType="com.hamonize.cmmn.CmmnMap" resultType="java.lang.Integer">
select count(*) from tb_contract
where delete_at = 0
and consent = 1
and request = 1
and bizcd = #{bizcd}
</select>




<select id="estimategetList" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
select seq,
 bizcd,
 price,
 subject,
 writer_id,
 content,
 register_date,
 update_date,
 case WHEN consent = 1 THEN '승인'
 else '미승인' END as consent,
 writer_name,
 consent_date,
 delete_at,
(select biznm from tb_company c where c.bizcd = e.bizcd) as biznm
from tb_estimate e
where delete_at = 0
and bizcd = #{bizcd}
order by register_date desc
limit 5
</select>

<select id="estimategetListCount" parameterType="com.hamonize.cmmn.CmmnMap" resultType="java.lang.Integer">
select count(*) from tb_estimate
where delete_at = 0
and bizcd = #{bizcd}
</select>



<select id="saleplangetList" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
select
seq, 
business_code, 
bizcd, 
subject, 
instt_section, 
product_section, 
price, 
discount, 
sale_qy, 
content, 
writer_id, 
writer_name, 
case WHEN consent = 1 THEN '승인'
 else '미승인' END as consent,
consent_date, 
request,
delete_at, 
register_date, 
update_date, 
instt_name,
(select biznm from tb_company c where c.bizcd = e.bizcd) as biznm
 from tb_saleplan e
where delete_at = 0
and bizcd = #{bizcd}
order by register_date desc
limit 5
</select>

<select id="saleplangetListCount" parameterType="com.hamonize.cmmn.CmmnMap" resultType="java.lang.Integer">
select count(*) from tb_saleplan
where delete_at = 0
and bizcd = #{bizcd}
</select>

<select id="noticeList" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
	select * 
	from tb_notice
	where delete_at = 0
	and target like CONCAT('%',#{biz_auth_role},'%')
	order by reg_date desc
limit 6
</select>


<select id="inquiryList" parameterType="com.hamonize.cmmn.CmmnMap" resultType="com.hamonize.cmmn.CmmnMap">
select TA.*, TC.demand_name, TC.supply_name 
	from
	 tb_tchnlgy_inqry TA left outer join  tb_license_biz TB 
	 on  TA.bizcd = TB.bizcd and TA.license_cd = TB.license_cd
	 left outer join tb_contract TC
	 on TC.business_code = TA.license_cd
    where 
    	TC.bizcd = #{bizcd}         

	order by reg_date desc
limit 6
</select>

<select id="getListCount" parameterType="com.hamonize.cmmn.CmmnMap" resultType="java.lang.Integer">
select count(*) from tb_notice
where delete_at = 0
and target like CONCAT('%',#{biz_auth_role},'%')
</select>

</mapper>
