<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!-- <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>mylog-%d{yyyy-MM-dd}.%i.txt.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender> -->
    <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender> -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
                  <encoder>
                           <charset>UTF-8</charset>
                           <!-- 로그 메시지 패턴 -->
                           <Pattern>
                                   %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
                           </Pattern>
                  </encoder>
         </appender>
    
    <!-- Loggers -->
    <logger name="org.springframework.core">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.context">
        <level value="INFO" />
    </logger>
    <logger name="org.springframework.web">
        <level value="INFO" />
    </logger>
    <logger name="com">
        <level value="DEBUG" />
    </logger>
    <logger name="java.sql">
        <level value="DEBUG" />
    </logger>
    <logger name="org.mybatis.spring">
        <level value="DEBUG" />
    </logger>
    <logger name="com.mapper">
        <level value="DEBUG" />
    </logger>

    <root level="info">
       <!-- <appender-ref ref="ROLLING"/> 
       <appender-ref ref="STDOUT" /> -->
       <appender-ref ref="consoleAppender" />
    </root>
</configuration>

