<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.newsletteruser.mapper.NewsletteruserMapper">

<insert id="saveSubscriber" parameterType="com.de.newsletteruser.MailingUserList">
 insert
  	into
  	tb_mailing_users(
  		 active
  		, email
  		, name
		, registerdate
		, updatedate		
  	)
 	values(
 	    #{active}
 		, #{email}
 		, #{name}
 		, now()
 		, now()
 	)
</insert>


<select id="checkDuplication" parameterType="com.de.newsletteruser.MailingUserList" resultType="Integer">
 select count(*)
 from tb_mailing_users
 where email = #{email}	
</select>

</mapper>
 
	