<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 

<mapper namespace="com.de.vote.mapper.VoteMapper">

<!-- 정보 저장 -->
	 <!-- <update id="likes" parameterType="com.de.vote.Vote">
		WITH upsert AS (UPDATE tb_vote  SET
			likes = (likes + 1)
				WHERE section = #{section} and pno = #{pno}  	 RETURNING *)
				INSERT INTO tb_vote (	
				 pno							/* 부모번호 */			   
				, section						/* 구분 */ 
				, userno						/* 유저번호 */
				, likes						/* 좋아요 */  
				)
				SELECT
				#{pno},#{section},#{userno},#{likes}
				 WHERE NOT EXISTS (SELECT * FROM upsert)

	</update> -->
	
	<!-- 정보 저장 -->
	 <update id="likes" parameterType="com.de.vote.Vote">
		UPDATE tb_vote  SET
			likes = (likes + 1)
				WHERE section = #{section} and pno = #{pno}

	</update>
	
	<!-- 정보 저장 -->
	<!-- <update id="dislikes" parameterType="com.de.vote.Vote">
		WITH upsert AS (UPDATE tb_vote  SET
			dislikes = (dislikes + 1)
				WHERE section = #{section} and pno = #{pno}  	 RETURNING *)
				INSERT INTO tb_vote (	
				 pno							/* 부모번호 */			   
				, section						/* 구분 */ 
				, userno						/* 유저번호 */
				, dislikes						/* 좋아요 */  
				)
				SELECT
				#{pno},#{section},#{userno},#{dislikes}
				 WHERE NOT EXISTS (SELECT * FROM upsert)

	</update> -->
	 <update id="dislikes" parameterType="com.de.vote.Vote">
		UPDATE tb_vote  SET
			dislikes = (dislikes + 1)
				WHERE section = #{section} and pno = #{pno}

	</update>
	
	<select id="getSeq" parameterType="com.de.vote.Vote" resultType="com.de.vote.Vote">
		SELECT 
			* 
		FROM 
		tb_vote 
		WHERE section = #{section} and pno = #{pno}
	</select>
	
	<insert id="save" parameterType="com.de.vote.Vote">
	INSERT INTO tb_vote (pno,section,userno) values (#{pno},#{section},#{userno})
	</insert>
	
	<insert id="saveVoteUser" parameterType="com.de.vote.Vote">
	INSERT INTO tb_vote_users 
	(pno,userno) 
	VALUES(#{seq},#{senduserno})
	</insert>
	
	<select id="voteCheck" parameterType="com.de.vote.Vote" resultType="Integer">
		SELECT 
			count(*) as cnt
		FROM 
		tb_vote_users
		WHERE pno = #{seq} and userno = #{senduserno}
	</select>
	

</mapper>
 
	