<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.wiki.mapper.WikiMapper">

<resultMap type="com.de.user.Users" id="Users">
	<result column="userno" property="userno"/>
	<result column="userid" property="userid"/>
	<result column="username" property="username"/>
	<result column="useremail" property="useremail"/>
	<result column="userstatus" property="userstatus"/>
</resultMap>

<resultMap type="com.de.tag.Tags" id="Tags">
	<result column="tagno" property="tagno"/>
	<result column="title" property="title"/>
	<result column="userno" property="userno"/>
</resultMap>


<resultMap type="com.de.tag.Tags" id="Wiki">
	<result column="wikino" property="tagno"/>
	<result column="title" property="title"/>
	<result column="userno" property="userno"/>
</resultMap>


<!-- 조회 -->
<select id="getHelpList" parameterType="com.de.wiki.Help" resultType="com.de.wiki.Help">
SELECT *
FROM 
	tb_help ta left outer join tb_wiki_history tb on   

</select>	

<!-- 비밀번호 초기화 -->
<update id="resetUserPw" parameterType="com.de.findAccount.Account">
</update>

</mapper>
 
	