<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.wiki.mapper.WikiMapper">


<select id="getWikiHelp" resultType="com.de.wiki.Wiki">
select *
from tb_wiki
where section='h'
</select>

<select id="getWikiTag" resultType="com.de.wiki.Wiki">
select *
from tb_wiki
where section='t'
</select>


<!-- 저장 -->
<insert id="save" parameterType="com.de.wiki.Wiki">
Insert
	 into
  	  tb_wiki(  	  	       
  	  	
      title
      ,contents
      ,section
      ,userno
      ,registerdate
      ,updatedate
    )
  values
    (  #{title}
      ,#{contents}
      ,#{section}
      ,#{userno}
      ,now()
      ,now()
     )
</insert>	

<insert id="saveHistory" parameterType="com.de.wiki.Wiki">
<selectKey keyProperty="wikino" resultType="Integer" order="BEFORE">
    SELECT  max(wikino) FROM tb_wiki 
</selectKey>	
Insert
	 into
  	  tb_wiki_history(  	  	
      wikino
      ,userno
      ,title
      ,contents
      ,registerdate
      ,updatedate
    )
  values
    (   
    	#{wikino}      
      ,#{userno}
      ,#{title}
      ,#{contents}
      ,now()
      ,now()
     )
</insert>	

</mapper>
 
	