@charset "UTF-8";

@font-face {
	font-family: nanumgothic;
	src: url(/fonts/NanumGothic.ttf);
}

* { 
	color: #95959F; 
	font-family: nanumgothic, Roboto, Helvetica, sans-serif;
	transition: color .25s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
html { /* min-width: 380px */ }
body { background: #F0F5FB }
a { text-decoration:none !important }

.bg_div { 
	background: #F0F5FB url(/img/bg.jpg);
	background-position: center right;
	background-size: cover;
    opacity: .5;
    position: absolute;
	top: 0;
    height:100%;
    width:100%;
    z-index:-1;
}

nav.main-header { 
	border-bottom:0;
	background: linear-gradient(to right, #8056D6, #373C4F) 
}

/* side menu */
aside.main-sidebar { box-shadow: 0 14px 28px rgba(0,0,0,0.05),0 10px 10px rgba(0,0,0,.05)!important; }

.brand-link { padding: .77rem .5rem }
.sidebar-mini .brand-link span:first-child { display: none }
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-text:first-child { display: none }
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-text:last-child { display: block }

.sidebar-mini.sidebar-collapse .main-sidebar:hover .profile_div span { 
	display: inline-block; 
	opacity: 1;
	visibility: visible; 
}

.sidebar-minisidebar-collapse:hover .brand-link span:first-child { display: none }

.sidebar-collapse .brand-link span:first-child { 
	display: block; 
	opacity: 1;
    visibility: visible;
    padding-left: 1.2em;
}
.sidebar-collapse .brand-link span:last-child { display: none }
.brand-text { 
	color: white;
	padding-left: 1em;
}
.badge-info { 
	background-color: #6610f2; 
	border-radius: 10px;
}


.profile_div { padding: .5rem }

.profile_div .profile_img {
	background-image: url(/img/profile.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 42px;
	margin-bottom: 1em;"
	width: 42px;
}
.profile_div h6,
.profile_div h6 span { 
	color: white; 
	font-size: 1rem;
}
.profile_div span { 
	font-size: 13px ;
	transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.sidebar-collapse .profile_div span {
	display: none;
	opacity: 0;
	visibility: hidden; 
 }

.nav .nav-item img { margin: 0 .5em 0 .25em }
.nav .nav-item img.img_normal { display: inline-block }
.nav .nav-item img.img_over { display: none }
/* menu icon hover 
.nav .nav-item:hover img.img_normal { display: none }
.nav .nav-item:hover img.img_over { display: inline-block }
*/
.nav .nav-item p { vertical-align: middle }
.nav .nav-item p > .right { top: .85rem }


/* content */
.nodata { text-align: center }
.callout h5 { margin: 0 }

#content > div.nav_title { 
	font-size: 13px; 
	padding: 4em 0 0 3.5em;
}
#content { margin: 0 }
#content > .col-12 {	padding: 0 1em }
.content-wrapper { background: #F0F5FB }
.content-wrapper form { margin: 0 }

.card { 
	background: #F0F5FB; 
	box-shadow: none;
}
.card-header { padding: 2em 3em 2em 0 }
.card-title { 
	color: black; 
	font-size: 1.3rem;
}

.card-body.card-primary.card-outline.row { margin: 0 }

/* .col-form-label { text-align: right } */
.form-control.contents { height: auto }

.card-footer { background-color: rgba(0,0,0,0) }
.card-footer.row { 
	padding-left: 0;
	padding-right: 0; 
}


/* paging */
.pagination { 
	font-size: 13px;
	padding: 2em 3em;
}
.page-item a.page-link { 
	padding: 3px 8px; 
}
.page-item .page-link { 
    background-color: rgba(0,0,0,0);
    /* border: 0; */
	/* border-radius: 20px; */
}
.page-item:first-child .page-link,
.page-item:last-child .page-link { /* border-radius: 20px */ }

 .page-link:focus { box-shadow: none; }
 
 
 /* content buttons */
 .cont_btn_div { text-align: right }
.cont_btn_div.tbl_list { padding: 1em 3em }
.cont_btn_div button { 
 	background-color: rgba(0,0,0,0);
    border-radius: 25px;
    margin-left: .5rem;
    padding: 5px 25px;
}
.cont_btn_div button.purple {
    border: 2px solid #6610f2;
    color: #6610f2;
}
.cont_btn_div button.purple:disabled { 
	color: #fff;
	background-color: #6610f2;
}
.cont_btn_div button.purple:hover {
	background-color: #6610f2;
	color: #fff;
}
.cont_btn_div button.red {
    border: 2px solid #dc3545;
    color: #dc3545;
}
.cont_btn_div button.red:hover {
	background-color: #dc3545;
	color: #fff;
}
.cont_btn_div button.gray {
    border: 2px solid #343a40;
    color: #343a40;
}
.cont_btn_div button.gray:hover {
	background-color: #343a40;
	color: #fff;
}

/* text important */
.important { color: red }

/* tel input */
.tel_div.row { margin: 0 }
.tel_div input { display: inline-block }
.tel_div .col-lg-1 { 
	padding: 7px 5px;
	text-align: center;
}

/* banner */
.banner {
	background-repeat: no-repeat;
	background-size: auto 101%;
	background-position: right;
	padding: 2em;
	color: black;
	margin: 2em 1em 1em 1em;
	border-radius: .5em;
	box-shadow: 0 0 5px rgba(0,0,0,.125), 0 0 10px rgba(0,0,0,.25);
	background-color: #fff;
}
.banner span { color: #666 }

/**/
#frm > .row { margin: 0 }
#frm > .row  > .col-12 { padding: 0 1em }
.card-primary.card-outline { border-top: 3px solid #117a8b }
.card-primary:not(.card-outline)>.card-header { background-color: #F0F5FB }
.card-body { 
	background-color: #fff; 
 	/* border-top: 3px solid #6610f2;  */
	/* border-top: 3px solid #117a8b; */
}


.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


/* media query */
@media all and (max-width: 990px) {
	.disable_sm { display: none }
}