<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.login.mapper.LoginMapper">

<!-- 정보 조회 -->
<select id="getUser" parameterType="com.de.login.vo.LoginVO" resultType="com.de.login.vo.LoginVO">
SELECT 
	ta.*,tb.*
FROM 
	tb_users ta left outer join tb_users_detail tb on ta.userno = tb.userno
WHERE
	ta.userid = #{username} and tb.activeat !=1
</select>	

<select id="getUserInfo" parameterType="com.de.login.vo.LoginVO" resultType="com.de.login.vo.LoginVO">
select b.*, a.*
, ( select enterprisearea from tb_enterprises where enterpriseno = b.enterpriseno) as comylocation
from tb_users a join tb_users_detail b on a.userno = b.userno
where a.userid  = #{userid} 
</select>

<select id="getSocialUserInfo" parameterType="java.lang.String" resultType="com.de.login.vo.LoginVO">
	select *
	from tb_users 
	where userid  = #{userid} 
</select>		

<update id="updateUserUUID" parameterType="com.de.login.vo.LoginVO">
	UPDATE tb_users  SET uuiduser = #{uuiduser}
	WHERE userid = #{userid}

</update>


<select id="getUserChk" parameterType="com.de.login.vo.LoginVO" resultType="com.de.login.vo.LoginVO">
	select * 
	from tb_users ta, tb_enterprises tb
	where ta.userno = tb.userno
	and ta.uuiduser  = #{uuiduser} 
</select>	


<select id="getUserUUIDInfo" parameterType="com.de.login.vo.LoginVO" resultType="com.de.login.vo.LoginVO">
	select * 
	from tb_users ta
	where ta.uuiduser  = #{uuiduser} 
</select>	

<insert id="saveLoginHistory" parameterType="com.de.login.vo.LoginHistoryVO">
insert 
	into
	 tb_login_history(
	 	userid,
	 	logintime
	 ) values(
	 	#{userid},
	 	now()
	 )
</insert>

</mapper>
 
	