<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 

<mapper namespace="com.de.question.mapper.QuestionsMapper">

<resultMap type="com.de.vote.Vote" id="Vote">
	<result column="seq" property="seq"/>
	<result column="pno" property="pno"/>
	<result column="section" property="section"/>
	<result column="likes" property="likes"/>
	<result column="dislikes" property="dislikes"/>
	<result column="userno" property="userno"/>
	<result column="senduserno" property="senduserno"/>
</resultMap>

<resultMap type="com.de.vote.VoteUsers" id="VoteUsers">
	<result column="seq" property="seq"/>
	<result column="pno" property="pno"/>
	<result column="section" property="section"/>
	<result column="userno" property="userno"/>
</resultMap>

<resultMap type="com.de.user.Users" id="Users">
	<result column="userno" property="userno"/>
	<result column="userid" property="userid"/>
	<result column="username" property="username"/>
	<result column="useremail" property="useremail"/>
	<result column="userstatus" property="userstatus"/>
	<result column="userprofileimg" property="userprofileimg"/>
</resultMap>

<resultMap type="com.de.tag.Tags" id="Tags">
	<result column="tagno" property="tagno"/>
	<result column="title" property="title"/>
	<result column="userno" property="userno"/>
</resultMap>

<resultMap type="com.de.wiki.Wiki" id="Wiki">
	<result column="wikino" property="wikino"/>
	<result column="title" property="title"/>
	<result column="userno" property="userno"/>
	<result column="contents" property="contents"/>
</resultMap>

<resultMap type="com.de.question.Questions" id="Questions">
	<result column="questionno" property="questionno"/>
	<result column="editauth" property="editauth"/>
	<result column="editauth" property="editauth"/>
	<result column="title" property="title"/>
	<result column="contents" property="contents"/>
	<result column="userno" property="userno"/>
	<result column="firstuserno" property="firstuserno"/>
	<result column="tagno" property="tagno"/>
	<result column="readcnt" property="readcnt"/>
	<result column="deleteat" property="deleteat"/>
	<result column="registerdate" property="registerdate"/>
	<result column="updatedate" property="updatedate"/>
	<result column="firstRecordIndex" property="firstRecordIndex"/>
	<result column="recordCountPerPage" property="recordCountPerPage"/>
	<collection property="users" resultMap="Users"/>
	<collection property="vote" resultMap="Vote"/>
	<collection property="wiki" resultMap="Wiki"/>
</resultMap>

	<select id="selectQNO" resultType="com.de.cmmn.CmmnMap">
      SELECT COALESCE(max(questionno),0)+1 AS questionno FROM tb_questions
	</select>
	<sql id="listWhere">
		(title like '%' || #{searchtext} || '%' 
		or
		contents like '%' || #{searchtext} || '%')
	</sql>
	<select id="getList" parameterType="com.de.question.Questions" resultMap="Questions">
		select a.*,b.*,c.*
		from tb_questions a left outer join tb_users b on a.userno = b.userno
		left outer join tb_vote c on a.questionno = c.pno
		<if test="searchtext != null and searchtext != ''">
		<where>
		<include refid="listWhere" />
		</where>
		</if>
		<if test="sort == null" >order by a.registerdate desc</if>
		<if test="sort == 1" >order by a.registerdate desc</if>
		<if test="sort == 2" >order by a.registerdate asc</if>
		<if test="sort == 3" >order by c.likes desc</if>
		OFFSET #{firstRecordIndex} LIMIT #{recordCountPerPage}
	</select>
	
	<select id="getListCount" parameterType="com.de.question.Questions" resultType="java.lang.Integer">
		select count(*) from tb_questions
		<if test="searchtext != null and searchtext != ''">
		<where>
		<include refid="listWhere" />
		</where>
		</if>
	</select>
	
	<select id="getView" parameterType="integer" resultMap="Questions">
		select a.*,b.*,c.*
		from tb_questions a left outer join tb_users b on a.userno = b.userno
		left outer join tb_vote c on a.questionno = c.pno
		<where>
		a.questionno = #{questionno}
		</where>
	</select>
	
	<update id="updateReanCnt" parameterType="integer">
	update tb_questions set readcnt = readcnt + 1
	<where>
	questionno = #{questionno}
	</where>
	
	</update>
	
	<insert id="insertHistory" parameterType="com.de.cmmn.CmmnMap">
	INSERT INTO TB_QUESTIONS_HISTORY (seq, pno, contents, section, title, deleteat, editauth, readcnt, registerdate, tagno, updatedate, userno)
		VALUES
				((SELECT COALESCE(max(seq),0)+1 FROM tb_questions_history),#{questionno},#{contents},#{section},#{title}
				,#{deleteat},#{editauth},#{readcnt},#{registerdate},#{tagno},#{updatedate},#{userno})
	</insert>

</mapper>
 
	