<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.security.mapper.SecurityMapper">

<!-- 정보 조회 -->
<select id="findByUserEmail" parameterType="String" resultType="com.de.security.LoginVO">
SELECT 
	*
FROM 
	tb_users 
WHERE
	user_email = #{user_email};
</select>	


</mapper>
 
	