<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.security.mapper.SecurityMapper">

<!-- 정보 조회 -->
<select id="findUser" parameterType="String" resultType="com.de.security.LoginVO">
SELECT 
	*
FROM 
	tb_users 
WHERE
	useremail = #{useremail};
</select>	

<!-- 정보 저장 -->
<insert id="saveSnsAccount" parameterType="com.de.security.LoginVO" >
<selectKey keyProperty="userno" resultType="Integer" order="BEFORE">
    SELECT nvl(max(userno),0)+1 FROM tb_users
  </selectKey>
	Insert
	 into
  	  tb_users(  	  	      
      userid
      ,userpassword
      ,useremail
      ,regdate
    )
  values
    (   
    	#{userno}
       ,#{userid}
       ,#{userpassword}
       ,#{useremail}   
      ,now()
     )
</insert>

</mapper>
 
	