<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 

<mapper namespace="com.de.signup.mapper.SignupMapper">

<!-- 조회 -->
<insert id="bizNoCheck" parameterType="com.de.user.Users">
  	Insert
	 into
  	  tb_users(  	  	
       seq
      ,regdate
    )
  values
    (   
    	#{seq}
      ,now()
     )
	</insert>
	

</mapper>
 
	