<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.user.mapper.UsersMapper">

<select id="findEnterpriseno" parameterType="Integer" resultType="com.de.enterprise.Enterprises">
SELECT 
	a.enterpriseno,
	a.userat,
	b.enterprisename
FROM
	tb_users_detail a left outer join tb_enterprises b on a.enterpriseno = b.enterpriseno
WHERE a.userno = #{seq} and a.userat = 1
</select>
<!-- SELECT 
	enterpriseno,
	enterprisename
FROM
	tb_enterprises
WHERE
	enterpriseno = 
		(
			SELECT 
				enterpriseno 
			FROM 
				tb_user_detail 
			WHERE 
				userno = #{seq}
		) -->
<update id="updateUserPw" parameterType="com.de.user.UserPwVO">
UPDATE
	tb_users
SET
	userpassword = #{userpasswordnew},
	updatedate = now()
WHERE
	userno = #{userno} and
	userpassword = #{userpassword}
</update>

<select id="getEnterList" parameterType="com.de.enterprise.Enterprises" resultType="com.de.enterprise.Enterprises">
SELECT 
	enterpriseno,
	enterprisename
FROM 
	tb_enterprises
WHERE
	 enterprisename like '%' || #{enterprisename} || '%'
ORDER BY enterpriseno DESC
</select>

<update id="updateUserProfileImg" parameterType="com.de.user.Users">
UPDATE
	tb_users
SET
	userprofileimg = #{userprofileimg},
	updatedate = now()
WHERE
	userno = #{userno}
</update>

<update id="updateEnterpriseNo" parameterType="com.de.user.UsersDetail">
UPDATE
	tb_users_detail
SET
	<if test="enterpriseno != null">
		enterpriseno = #{enterpriseno}
	</if>
	<if test="enterpriseno == null">
		enterpriseno = 0,
		userat = 0
	</if>
WHERE
	userno = #{userno}
</update>


<select id="cntQuestionsById" parameterType="Integer" resultType="Integer">
SELECT 
	count(*) 
FROM 
	tb_questions
WHERE
	userno = #{seq}
</select>

<select id="cntAnswerById" parameterType="Integer" resultType="Integer">
SELECT 
	count(*) 
FROM 
	tb_answers
WHERE
	userno = #{seq}
</select>

<select id="cntTagAndWikiById" parameterType="com.de.wiki.Wiki" resultType="Integer">
SELECT 
	count(*) 
FROM 
	tb_wiki
WHERE
	userno = CAST(#{userno} AS TEXT)
	AND section = #{section}
</select>

<select id="findTagAndWikiByUserno" parameterType="com.de.wiki.Wiki" resultType="com.de.wiki.Wiki">
SELECT 
	wikino,
	title
FROM 
	tb_wiki
WHERE
	userno = CAST(#{userno} AS TEXT)
	AND section = #{section}
ORDER BY registerdate DESC
LIMIT 5
</select>

<select id="getUserScore" resultType="com.de.cmmn.CmmnMap">
select a.*,b.*,c.* from tb_users a 
left outer join tb_score b on a.userno = b.userno
left outer join tb_users_detail c on a.userno = c.userno
where b.score is not null and (c.representat = 0 or c.representat is null)
order by b.score desc
</select>

<select id="getPartnerScore" resultType="com.de.cmmn.CmmnMap">
select a.*,b.*,c.*,d.* from tb_users a 
left outer join tb_users_detail c on a.userno = c.userno
left outer join tb_enterprises d on a.userno = d.enterpriseno
left outer join tb_score b on d.enterpriseno = b.userno
where b.score is not null
order by b.score desc
</select>

<select id="getScore" parameterType="Integer" resultType="Integer">
SELECT (
    COALESCE((SELECT score FROM tb_score WHERE userno=#{seq}), 0)
    + COALESCE((SELECT (sum(likes) - sum(dislikes)) as score FROM tb_vote WHERE userno=#{seq}), 0)
    )
</select>

<select id="socialUserCheck" parameterType="com.de.cmmn.CmmnMap" resultType="Integer">
SELECT COUNT(*) FROM tb_users where userid=#{userid}
</select>

<insert id="socialUserSave" parameterType="com.de.cmmn.CmmnMap">
INSERT INTO tb_users (userid,username,picture,role) values(#{userid},#{username},#{picture},#{role})
</insert>

<sql id="where_getScoregraph1">
userno = #{userno}
and registerdate <![CDATA[ < ]]> to_date(to_char(now(), 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
and registerdate <![CDATA[ >= ]]>  to_date(to_char(now() - '1 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
</sql>
<sql id="where_getScoregraph2">
userno = #{userno}
and registerdate <![CDATA[ < ]]>  to_date(to_char(now() - '1 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
and registerdate <![CDATA[ >= ]]>  to_date(to_char(now() - '2 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
</sql>
<sql id="where_getScoregraph3">
userno = #{userno}
and registerdate <![CDATA[ < ]]>  to_date(to_char(now() - '2 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
and registerdate <![CDATA[ >= ]]>  to_date(to_char(now() - '3 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
</sql>
<sql id="where_getScoregraph4">
userno = #{userno}
and registerdate <![CDATA[ < ]]>  to_date(to_char(now() - '3 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
and registerdate <![CDATA[ >= ]]>  to_date(to_char(now() - '4 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
</sql>
<sql id="where_getScoregraph5">
userno = #{userno}
and registerdate <![CDATA[ < ]]>  to_date(to_char(now() - '4 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
and registerdate <![CDATA[ >= ]]>  to_date(to_char(now() - '5 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
</sql>
<sql id="where_getScoregraph6">
userno = #{userno}
and registerdate <![CDATA[ < ]]>  to_date(to_char(now() - '5 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
and registerdate <![CDATA[ >= ]]>  to_date(to_char(now() - '6 month'::interval, 'YYYY-MM-DD') || ' 00:00:00.000', 'YYYY-MM-DD')
</sql>

<select id="getScoregraph" parameterType="Integer" resultType="String">
SELECT 
	CAST(
		COALESCE(( SELECT count(*) * 5 FROM tb_questions WHERE <include refid="where_getScoregraph1"/> ), 0)
		+ COALESCE(( SELECT count(*) * 8 FROM tb_answers WHERE <include refid="where_getScoregraph1"/> ), 0)
	AS TEXT)
	
	|| ',' ||
	
	CAST(
		COALESCE(( SELECT count(*) * 5 FROM tb_questions WHERE <include refid="where_getScoregraph2"/> ), 0)
		+ COALESCE(( SELECT count(*) * 8 FROM tb_answers WHERE <include refid="where_getScoregraph2"/> ), 0)
	AS TEXT)
	
	|| ',' ||
	
	CAST(
		COALESCE(( SELECT count(*) * 5 FROM tb_questions WHERE <include refid="where_getScoregraph3"/> ), 0)
		+ COALESCE(( SELECT count(*) * 8 FROM tb_answers WHERE <include refid="where_getScoregraph3"/> ), 0)
	AS TEXT)
	
	|| ',' ||
	
	CAST(
		COALESCE(( SELECT count(*) * 5 FROM tb_questions WHERE <include refid="where_getScoregraph4"/> ), 0)
		+ COALESCE(( SELECT count(*) * 8 FROM tb_answers WHERE <include refid="where_getScoregraph4"/> ), 0)
	AS TEXT)
	
	|| ',' ||
	
	CAST(
		COALESCE(( SELECT count(*) * 5 FROM tb_questions WHERE <include refid="where_getScoregraph5"/> ), 0)
		+ COALESCE(( SELECT count(*) * 8 FROM tb_answers WHERE <include refid="where_getScoregraph5"/> ), 0)
	AS TEXT)
	
	|| ',' ||
	
	CAST(
		COALESCE(( SELECT count(*) * 5 FROM tb_questions WHERE <include refid="where_getScoregraph6"/> ), 0)
		+ COALESCE(( SELECT count(*) * 8 FROM tb_answers WHERE <include refid="where_getScoregraph6"/> ), 0)
	AS TEXT)
</select>

</mapper>