<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.user.mapper.UsersMapper">

<select id="findEnterpriseNo" parameterType="Integer" resultType="com.de.enterprise.Enterprises">
SELECT 
	enterprise_no as enterpriseNo,
	enterprise_name as enterpriseName
FROM
	tb_enterprises
WHERE
	enterprise_no = 
		(
			SELECT 
				enterprise_no 
			FROM 
				tb_users_detail 
			WHERE 
				user_no = #{seq}
		)
</select>

<update id="updateUserPw" parameterType="com.de.user.UserPwVO">
UPDATE
	tb_users
SET
	user_password = #{userPasswordNew},
	update_date = now()
WHERE
	user_no = #{userNo} and
	user_password = #{userPassword}
</update>

<select id="getEnterList" parameterType="com.de.enterprise.Enterprises" resultType="com.de.enterprise.Enterprises">
SELECT 
	enterprise_no AS enterpriseNo,
	enterprise_name AS enterpriseName
FROM 
	tb_enterprises
WHERE
	 enterprise_at = #{enterpriseAt} and
	 enterprise_name like '%${enterpriseName}%'
</select>

<update id="updateUserProfileImg" parameterType="com.de.user.Users">
UPDATE
	tb_users
SET
	user_profile_img = #{userProfileImg},
	update_date = now()
WHERE
	user_no = #{userNo}
</update>

<update id="updateEnterpriseNo" parameterType="com.de.user.UsersDetail">
UPDATE
	tb_users_detail
SET
	<if test="enterpriseNo != null">
		enterprise_no = #{enterpriseNo}
	</if>
	<if test="enterpriseNo == null">
		enterprise_no = 0
	</if>
WHERE
	user_no = #{userNo}
</update>

</mapper>