<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.wiki.mapper.WikiMapper">

	<!-- 불러오기 -->
	<select id="getWikiList" resultType="com.de.wiki.Wiki">
		select *
		from 
			tb_wiki 
		where
			section=#{section} and deleteat=0 
		order by registerdate asc
	</select>
	
	<select id="getView" parameterType="integer" resultType="com.de.wiki.Wiki">
		select *
		from
			tb_wiki
		where
			wikino = #{wikino}
	
	</select>
	
	<select id="getHistoryView" parameterType="integer" resultType="com.de.wiki.WikiHistory">
		select *
		from 
			tb_wiki_history
		where
		 seq = #{seq}
	</select>
	
	<select id="getHistory" parameterType="integer" resultType="com.de.wiki.WikiHistory">
		select
			 a.*, b.username
		from
			 tb_wiki_history a left outer join tb_users b on a.userno = b.userno				
		where
			wikino = #{wikino}
		
	order by updatedate desc
	
	</select>
	
	
	<!-- qustion 쿼리 바뀌면 tagno -> wikino로 조회하는결로 변경 예정  -->
	<select id="getWikiCount" parameterType="Integer" resultType="Integer">
		select  count(*)
		from public.tb_questions
		where tagno  like '%' || #{tagno} || '%'
	</select>
	
	
	<!-- 저장 -->
	<insert id="save" parameterType="com.de.wiki.Wiki">
	Insert
		 into
	  	  tb_wiki(  	  	        	  	
	      title
	      ,contents
	      ,section
	      ,userno
	      ,updatedate
	      ,registerdate
	    )
	  values
	    (  #{title}
	      ,#{contents}
	      ,#{section}
	      ,#{userno}
	      ,now()
	      ,now()
	     )
	</insert>
	
	<insert id="saveHistory" parameterType="com.de.wiki.Wiki">	
	<selectKey keyProperty="wikino" resultType="Integer" order="BEFORE">
	    SELECT max(wikino) FROM tb_wiki 
	</selectKey>
	    Insert
		 into
	  	  tb_wiki_history(  	  	
	      wikino
	      ,userno
	      ,title
	      ,contents
	      ,registerdate
	      ,updatedate
	    )
	  values
	    (   
	    	#{wikino}      
	      ,#{userno}
	      ,#{title}
	      ,#{contents}
	      ,now()
	      ,now()
	     )
	</insert>	
	
	<!-- 수정  -->
	<update id="updateWiki" parameterType="com.de.wiki.Wiki">
		update 
			tb_wiki 
		set
			title = #{title},
		   contents = #{contents},
		   updatedate = now()
		where
			wikino = #{wikino}
	</update>
	
	
	<update id="addWikiHistory" parameterType="com.de.wiki.Wiki">
		insert
		  into 
		   tb_wiki_history(  	  	
		      wikino
		      ,userno
		      ,title
		      ,contents
		      ,updatedate
		    )
		  values
		    (   
		    	#{wikino}      
		      ,#{userno}
		      ,#{title}
		      ,#{contents}
		      ,now()
		     )
	</update>
	
	<!-- 삭제 -->
	<update id="deleteWiki" parameterType="integer">
		update 
			tb_wiki 
		set
			deleteat = 1,
			updatedate = now()	
		where
			wikino = #{wikino}
	</update>



	<select id="getWikiListFromCom" parameterType="com.de.wiki.Wiki" resultType="com.de.wiki.Wiki">
	 	select *
		 from tb_wiki
		 where section = #{section}
			 and deleteat=0 
			 and userno in  ( select cast(userno as TEXT) from tb_users_detail where enterpriseno = #{userno} )
	    order by registerdate desc
	     limit 4
	</select>	

	<select id="getWikiListCntFromCom" parameterType="com.de.wiki.Wiki" resultType="Integer">
	 	select count(*)
		 from tb_wiki
		 where section = #{section}
			 and deleteat=0 
			 and userno in  ( select cast(userno as TEXT) from tb_users_detail where enterpriseno = #{userno} )
	</select>	
	
</mapper>
 
	