<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.wiki.mapper.WikiMapper">


<select id="getWikiHelp" resultType="com.de.wiki.Wiki">
select *
from 
	tb_wiki 
where
	section='h' and deleteat=0 
</select>

<select id="getWikiTag" resultType="com.de.wiki.Wiki">
select b.*
from 
	tb_wiki a left outer join tb_wiki_history b on a.wikino=b.wikino 
where
	a.section='t' and b.deleteat=0
</select>


<!-- 저장 -->
<insert id="save" parameterType="com.de.wiki.Wiki">
Insert
	 into
  	  tb_wiki(  	  	        	  	
      title
      ,contents
      ,section
      ,userno
      ,registerdate
    )
  values
    (  #{title}
      ,#{contents}
      ,#{section}
      ,#{userno}
      ,now()
     )
</insert>	

<insert id="saveHistory" parameterType="com.de.wiki.Wiki">
<selectKey keyProperty="wikino" resultType="Integer" order="BEFORE">
    SELECT  max(wikino) FROM tb_wiki 
</selectKey>	
Insert
	 into
  	  tb_wiki_history(  	  	
      wikino
      ,userno
      ,title
      ,contents
      ,updatedate
    )
  values
    (   
    	#{wikino}      
      ,#{userno}
      ,#{title}
      ,#{contents}
      ,now()
     )
</insert>	

<update id="updateWiki" parameterType="com.de.wiki.Wiki">
update 
	tb_wiki 
set
	title = #{title},
   contents = #{contents}
where
	wikino = #{wikino}
</update>


<update id="deleteWiki" parameterType="integer">
update 
	tb_wiki 
set
	deleteat = 1
where
	wikino = #{wikino}
</update>


<select id="getView" parameterType="integer" resultType="com.de.wiki.Wiki">
select *
 from tb_wiki_history
  where seq in (select max(seq) from tb_wiki_history where wikino = #{wikino} )
</select>

<select id="getHistoryView" parameterType="integer" resultType="com.de.wiki.WikiHistory">
select *
 from tb_wiki_history
  where seq = #{seq}
 </select>


<select id="getHistory" parameterType="integer" resultType="com.de.wiki.WikiHistory">
	select
		 a.*, b.username
	from
		 tb_wiki_history a left outer join tb_users b on a.userno = b.userno				
	where
		wikino = #{wikino}
	
order by updatedate desc

</select>


</mapper>
 
	