<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.estimate.service.mapper.EstimateMapper">

<select id="getList" parameterType="com.de.estimate.service.EstimateVO" resultType="com.de.estimate.service.EstimateVO">
select seq,
 bizcd,
 price,
 subject,
 writer_id,
 content,
 register_date,
 update_date,
 consent,
 writer_name,
 consent_date,
 delete_at,
(select biznm from tb_company c where c.bizcd = e.bizcd) as biznm
from tb_estimate e
where delete_at = 0
and bizcd = #{bizcd}
order by register_date desc
limit #{firstRecordIndex}, #{recordCountPerPage}
</select>

<select id="getListCount" parameterType="com.de.estimate.service.EstimateVO" resultType="java.lang.Integer">
select count(*) from tb_estimate
where delete_at = 0
and bizcd = #{bizcd}
</select>

<select id="selectSEQ" resultType="java.lang.Integer">
		select nvl(max(seq), 0) +1 as seq
            from
              tb_estimate ALIAS_FOR_SUBQUERY
	</select>
	
<insert id="save" parameterType="com.de.estimate.service.EstimateVO">
insert
  into
    tb_estimate(
       seq
      ,bizcd
      ,price
      ,subject
      ,writer_id
      	,writer_name
      ,content
      ,register_date
      	,consent
      	,delete_at
    )
  values
    ( (select nvl(max(seq), 0) +1 as seq
            from
              tb_estimate ALIAS_FOR_SUBQUERY)
      ,#{bizcd}
      ,#{price}
      ,#{subject}
      ,#{writer_id}
      ,#{writer_name}
      ,#{content}
      ,now()
      	,0
      	,0
    )
</insert>

<update id="update" parameterType="com.de.estimate.service.EstimateVO">
update tb_estimate 
set 
price = #{price}
,subject = #{subject}
,content = #{content}
,update_date = now() 
where seq=#{seq}
</update>

<select id="getView" parameterType="com.de.estimate.service.EstimateVO" resultType="com.de.estimate.service.EstimateVO">
select * from tb_estimate
where seq = #{seq}
</select>

<update id="delete" parameterType="com.de.estimate.service.EstimateVO">
update tb_estimate 
set 
delete_at = 1
where seq = #{seq}
</update>

<update id="updateConsent" parameterType="com.de.estimate.service.EstimateVO">
update tb_estimate 
set 
consent = #{consent},
consent_date = now() 
where seq=#{seq}
</update>

</mapper>
