<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.notice.service.mapper.NoticeMapper">

<select id="getList" parameterType="com.de.notice.service.NoticeVO" resultType="com.de.notice.service.NoticeVO">
	select * 
	from tb_notice
	where delete_at = 0
	and target like CONCAT('%',#{biz_auth_role},'%')
	order by reg_date desc
limit #{firstRecordIndex}, #{recordCountPerPage}
</select>

<select id="getListCount" parameterType="com.de.notice.service.NoticeVO" resultType="java.lang.Integer">
select count(*) from tb_notice
where delete_at = 0
and target like CONCAT('%',#{biz_auth_role},'%')
</select>

<select id="getView" parameterType="com.de.notice.service.NoticeVO" resultType="com.de.notice.service.NoticeVO">
	select * 
	from tb_notice
	where seq = #{seq}
</select>

</mapper>
