<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.product.service.mapper.ProductMapper">

<select id="getList" parameterType="com.de.product.service.ProductVO" resultType="com.de.product.service.ProductVO">
select * from tb_product_manage
order by reg_date desc
limit #{firstRecordIndex}, #{recordCountPerPage}
</select>
<select id="getListCount" parameterType="com.de.product.service.ProductVO" resultType="Integer">
select count(*) from tb_product_manage
</select>
<insert id="save" parameterType="com.de.product.service.ProductVO">
insert
  into
    tb_product_manage(
       seq
      ,product_sn
      ,section
      ,subject
      ,consumer_price
      ,img_width
      ,img_vertical
      ,content
      ,writer_id
      ,writer_name
      ,register_date
      ,update_date
    )
  values
    ((
          select
              nvl(max(seq), 0) +1
            from
              tb_product_manage ALIAS_FOR_SUBQUERY
      ),
      #{product_sn},
      #{section},
      #{subject},
      #{consumer_price},
      #{img_width},
      #{img_vertical},
      #{content},
      #{writer_id},
      #{writer_name},
      now(),
      now()
    )
</insert>
<update id="update" parameterType="com.de.product.service.ProductVO">
update tb_product_manage 
set 
section = #{section},
updt_date = now() 
where seq=#{seq}
</update>
<select id="getView" parameterType="com.de.product.service.ProductVO" resultType="com.de.product.service.ProductVO">
select * from tb_product_manage
where seq = #{seq}
</select>
</mapper>
