<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.de.sample.mapper.SampleMapper">

<select id="list" parameterType="com.de.sample.Sample" resultType="com.de.sample.Sample">
select * from tb_sample
order by register_date desc
</select>

<!-- <select id="getListCount" parameterType="com.hamonize.sample.service.SampleVO" resultType="java.lang.Integer">
select count(*) from sampleData
</select>

<select id="selectSEQ" resultType="java.lang.Integer">
		select nvl(max(seq), 0) +1 as seq
            from
              sampleData ALIAS_FOR_SUBQUERY
	</select>
	
<insert id="save" parameterType="com.hamonize.sample.service.SampleVO">
insert
  into
    sampleData(
       seq
      ,titl
      ,ctnt
      ,user_id
      ,user_nm
      ,user_ip
      ,user_email
      ,user_hp
      ,user_addr
      ,reg_date
      ,updt_date
    )
  values
    ( #{seq},
      #{titl},
      #{ctnt},
      #{user_id},
      #{user_nm},
      #{user_ip},
      #{user_email},
      #{user_hp},
      #{user_addr},
      now(),
      now()
    )
</insert>

<update id="update" parameterType="com.hamonize.sample.service.SampleVO">
update sampleData 
set 
titl = #{titl},
ctnt=#{ctnt},
user_id=#{user_id},
user_nm=#{user_nm},
user_ip=#{user_ip},
user_email=#{user_email},
user_hp=#{user_hp},
updt_date = now() 
where seq=#{seq}
</update>

<select id="getView" parameterType="com.hamonize.sample.service.SampleVO" resultType="com.hamonize.sample.service.SampleVO">
select * from sampleData
where seq = #{seq}
</select> -->

</mapper>
